body{
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    background-image: url('img/bg.jpg');
    font-family: 'Libre Baskerville', serif;
}

    
    .left{
        display: inline-block;
        position: absolute;
        left: 34px;
        top:10px;
        
        

    }
    .left img{
        width: 85px;
        height: 55px;
        filter: invert(100%);
        
    }
    .left div{
        text-align: center;
        line-height: 19px;
        font-size: 12px;
        width: 80px;
    }
    .mid{
        display: block;
        width: 38%;
        margin: 12px auto;
        top: 30px ;
        background-color: black;

    }
    .right{
        display: inline-block;
        position: absolute;
        right:5%;
        top: 30px;

    }
    .btn{
        margin: 0px 9px;
        background-color: black;
        color: aliceblue;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;

    }
    .btn:hover{
        background-color:lightgray
    }
    .navbar{
        display: inline-block;
    }
    .navbar li{
        display: inline-block;
        font-family: 25px;
    }
    .navbar li a{
        color: aliceblue;
        text-decoration: none;
        padding: 34px 24px;
    }

    .container{
        border: 2px solid white;
        margin: 106px 80px;
        padding: 75px;
        width: 33%;
        border-radius: 10px;
       margin-left: 800px;
    

    }
    .form-group input{
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        display: block;
        width: 450px;
        padding: 6px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 20px;
        border-radius: 8px;
        


    }
    .container h1{
        text-align: center;
    
    }
    .container button{
        display: block;
        width: 50%;
        margin: auto;
        font-size: 20px;
        
    }